@import "node_modules/sweetalert2/dist/sweetalert2.css";

iframe {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html, body {
    -webkit-app-region: drag;
    width: 100%;
    height: 100%;
    margin: 0;
}

.swal2 *, iframe {
    -webkit-app-region: none;
}

.drag {
    -webkit-app-region: drag;
}
